
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
}
a img, :link img, :visited img {
    border: 0;
}
ol, ul {
    list-style: none;
}




body {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica;
    font-size: 100%;
    color: black;
    -webkit-text-size-adjust:none;
    text-align: center;
}

h3 {
    font-size: .666em;
    letter-spacing: 1px;
    line-height: 18px;
    margin-top: 10px;
    padding: 0 10px;
    text-transform: uppercase;
}
div .fb_reset {
    display: inline;
} 

#logo-container p.download_btn {
  margin: 2px 0 0 14px;
  text-align: center;
  padding: 10px 4px;
  color: #666;
  font-size: 12px;
  text-shadow: 0px 1px #f0f0f0;
  font-weight: bold;
  height: 12px;
  width: 70px;
  border: 2px solid #e31254;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(#b5b5b5));
  background-image: -webkit-linear-gradient(top, white, #b5b5b5);
  background-image: -moz-linear-gradient(top, white, #b5b5b5);
  background-image: -o-linear-gradient(top, white, #b5b5b5);
  background-image: -ms-linear-gradient(top, white, #b5b5b5);
  background-image: linear-gradient(to bottom, white, #b5b5b5);
  -webkit-box-shadow: inset 0 2px 0 white;
  -moz-box-shadow: inset 0 2px 0 white;
  box-shadow: inset 0 2px 0 white;
}

h3 img.icon {
    margin-right: .25em;
    margin-bottom: -1px;
    height: 11px;
    width: 11px;
}

#content { 
    width: 100%; 
    background: #FFF;
    background: rgba(255, 255, 255, 0.95);
}


.pane {
    background: #FFF;
    text-align: left;
    margin: 5px;
    padding-bottom: 10px;

}
.pane .contents {
    overflow:hidden;
}

.pane .caption {
    background-color: #fff;
    font-size: .75em;
    margin: 10px;
    padding: 10px;
    text-align: center;
}



.location {
    padding: 10px 10px 0 10px;
}
#map {
    border: none;
    width: 100%;
    margin: 5px 0 3px;
}



    #header-container{
      top: 0;
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 75px;
    }


    #header p{
        text-align: center;
        margin-bottom: 4px;
    }

#header {
    background: rgba(255, 255, 255, 0.95);
    margin: 0 0 0 0;
      width: 100%;
}
#header .logo {
    left: 10px;
    position: absolute;
    top: 6px;
    height: 25px;
    width: 25px;
}
#header .download {
    text-align: right;
}

