- base_url = "http://#{request.host_with_port}"
!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  - for event in @events
    %url
      %loc http://getnowapp.com/#{event.shortid}
      %lastmod=Time.at(event.end_time.to_i)
      %changefreq daily
      %priority 0.9