<% unless photo.nil? %>
  <% if @id == true %>
    <% photo = Photo.first(conditions: {_id: photo.to_s}) %>
	<div class="card">
		<div class="venue_photo">
      <%= image_tag photo.url[1], :width => "306" %>
    </div>
    <div class="infos clearfix" style="text-decoration: none; color: #4D4D4D">
      <%= image_tag "geo_icon.gif", :class => "geo_icon left", :height => "10", :width => "8" %>
      <h1 class="venue_name">
        <%= truncate(photo.venue.name, :length => 30) %>
      </h1>
      <p class="timestamp">
        <%= time_ago_in_words(Time.at photo.time_taken.to_i).to_s.gsub('about', '').gsub('over', '') %> ago
      </p>
      <h2 class="venue_type">
        <%= photo.venue.categories.first["name"] unless photo.venue.categories.nil? %>
      </h2>
      <p class="caption">
        <%= Photo.new.caption_without_hashtags(photo.caption) unless photo.caption.nil? %>
      </p>
  </div>