= form_tag usefuls_path, :method => :post, :remote => true do
  = hidden_field_tag :id, @photo.id
  = submit_tag "useful", :class => 'btn', :id => 'useful', :style => "width: 50px; height: 15px; padding: 0; font-size: 10px; position: relative; top: 75px; left: 5px;"