.container
  .content_below#main_title
    %h1 What is ubimachine?
    %p It's a free app that let's you see what is happening in your city's favorite venues in real time.
.container
  .content_below#main_title
    %h1 That's amazing.. how do we you do it?
    %p We collect public photos taken every second by Instagram users, make them go through ubimachine's algorithms and sort them by venues.
.container
  .content_below#main_title
    %h1 Sweet... how should I use it?
    %p You can simply browse through your city by category. You can find going out ideas by categories (where do go for dinner, where to go out) by looking at what others are doing right now! You can also browse through the useful
    
    
%footer
  = render 'partials/footer'
  
= image_tag "#", :'data-href' => "http://distilleryimage5.instagram.com/9ef08da23a1411e180c9123138016265_7.jpg", :id => "photo"