.container
  .content_below
    %h1
      What is
      %span{:style => 'color:#ff4a6f;'} ubimachine
      ?
    %p Ubimachine is a live photo album of what is happening now in your city's favorite venues. 
    %p Follow places you love, ask people there now for advice, tell the community about useful photos you spot!
    %h2 
      %span{:style => 'color:#ff4a6f;'} Follow 
      venues you love
    %p You will never miss any photo taken there! Would it be concerts in your favorite music hall, crowd at your local bar, or new collection at your favorite boutiques.
    %h2 
      %span{:style => 'color:#ff4a6f;'} Visualize
      a new place before going
    %p Just search for a venue you heard about in the search bar and explore the venue through the eyes of the people who took pictures there!
    %h2 
      Get 
      %span{:style => 'color:#ff4a6f;'}Fresh info 
      on what is happening
    %p If you see a photo take recently by someone in a venue you want to get more info on, just ask them! 
    %p If you are nice, they will most probably answer. And since they are there now are have been recently, the info will be very fresh!
    %h2 
      Discover 
      %span{:style => 'color:#ff4a6f;'}new things
      to do
    %p Ubimachine is great for finding new things to do. Just scroll through one of the "Going out Ideas" categories in your city, and see what others are doing now!
    %p You could also see where people who like similar venues than you like to go.
    %h2 
      Create a 
      %span{:style => 'color:#ff4a6f;'}visual to-do list
    %p Mark as useful photos you find interesting. They will all appear on your profile!
    %h2 
      Explore a 
      %span{:style => 'color:#ff4a6f;'}new city
    %p Scroll through what is happening in Paris, New York, London or San Francisco. More cities to come soon!

    %h1
      %span{:style => 'color:#ff4a6f;'} Enjoy!
    %h2 The ubimachine team
    
    
    
%footer
  = render 'partials/footer'
  
= image_tag "#", :'data-href' => "http://distilleryimage5.instagram.com/9ef08da23a1411e180c9123138016265_7.jpg", :id => "photo"