.container
  .content_below
    %h1 Pick a city to explore
    %ul.media-grid
      .intro
        - photo = Photo.where(tag: "ny")[0]
        = render 'partials/showphoto', :photo => photo
        - photo = Photo.where(tag: "paris")[0]
        = render 'partials/showphoto', :photo => photo
        - photo = Photo.where(tag: "tokyo")[0]
        = render 'partials/showphoto', :photo => photo

%footer
  = render 'partials/footer'