.title
  Choose a city to explore...

.cities
  .newyork
    = link_to (image_tag Photo.where(tag: "ny")[0].url[0], :width => '250px') , photos_path
  .paris
    = link_to (image_tag Photo.where(tag: "paris")[0].url[0], :width => '250px') , photos_path
  .tokyo
    = link_to (image_tag Photo.where(tag: "tokyo")[0].url[0], :width => '250px') , photos_path