.container
  .content_below
    #main_title
      %h1 Sign up with your instagram account!
    .signin
      = link_to (image_tag 'signup_button.png'),  'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=http://www.ubimachine.com/auth/instagram/callback&response_type=code&scope=likes+comments+relationships'

.container
  .content_below  
    #main_title
      %a{:href => "http://www.instagram.com", :style => "font-weight: bold; text-decoration:underline;", :target => "_blank"} Instagram
      %span is fast, beautiful photo sharing for iphone. Free on the appstore.
      
%footer
  = render 'partials/footer'  