#wrapper
	.left
		=image_tag "iphone_landing.png", :width => "400px"
		

	.right
		#content
			=image_tag "logo_landing.png", :width => "260px"
			%p.tagline Trending events happening now.
			%p.question What is happening in your city?
			%p.description{:style => "width: 360px"} Now detects events in your city and shows you photos taken by others there. Finally be in the know.
			%a{:href => "http://itunes.apple.com/app/now./id525956360"}
				%p.download_btn Get the free app