.title
  = image_tag Photo.where(tag: "u")[0].url[0], :width => '150px'
  = image_tag Photo.where(tag: "b")[0].url[0], :width => '150px'
  = image_tag Photo.where(tag: "i")[0].url[0], :width => '150px'
  machine
.slogan
  Ubiquity finally available to the crowds.

  
.signin
  = link_to (image_tag 'signininstagram.png', :width => '250px'),  'https://api.instagram.com/oauth/authorize/?client_id=6c3d78eecf06493499641eb99056d175&redirect_uri=' + root_url + 'auth/instagram/callback&response_type=code&scope=likes+comments+relationships'