#wrapper
	.left
		=image_tag "iphone_landing.png", :width => "400px"
		

	.right
		#content
			=image_tag "logo_landing.png", :width => "260px"
			%p.tagline Your live city guide.
			%p.question What is happening in your city?
			%p.description{:style => "width: 360px"} Now detects events in your city and shows you photos taken by others there. Finally be in the know.
			%a{:href => "http://itunes.apple.com/app/now./id525956360"}
				%p.download_btn Get the free app

			/ #social
			/ 	%nav
			/ 		%ul
			/ 			%li
			/ 				%a.tw{:href => "http://twitter.com/nowapp_", :title => "Now on Twitter", :target => "_blank"}
			/ 					%span.hide Now on Twitter
			/ 			%li
			/ 				%a.fb{:href => "http://facebook.com/getnowapp", :title => "Now on Facebook", :target => "_blank"}
			/ 					%span.hide Now on Facebook
