.wrapper
    .main
        %h1.title
            SEE WHAT'S HAPPENING
            %span NOW
        .video
            %iframe{:src=>"http://player.vimeo.com/video/64010652", :width=>"600", :height=>"337", :frameborder=>"0"}
        %a.appstore{:href => "http://getnowapp.com/download"}
            = image_tag "https://d3422saexnbpnl.cloudfront.net/static/images/appstorebadge2x.png", :width => "150px"
    .summary
        .wrap
            .left
                .iphone
                    = image_tag "http://s3.amazonaws.com/now_assets/iphone5.png", :width => "200px"
            .right
                .tagline
                    %h1 A LIVING MAP
                    %h2 ALL ABOUT
                    %h1 DISCOVERING
                    %h2 THE BEST OF WHAT'S
                    %h2 GOING ON AROUND YOU
                    %h1 RIGHT NOW

    #footer
        .items
            %a{:href => "http://checkthis.com/aboutnow"} ABOUT
            %a{:href => "http://checkthis.com/nowhelp"} HELP
            %a{:href => "http://checkthis.com/nowterms"} TERMS
            %a{:href => "http://checkthis.com/nowprivacy"} PRIVACY
            %a{:href => "http://checkthis.com/nowpress"} PRESS
            %a{:href => "http://checkthis.com/user/now"} BLOG