Welcome to UBImachine!
Enter your email to get notified when someone answers a question you asked
= form_tag '/signup' do
  = text_field_tag :email,  nil, :placeholder => "Enter your email"
  = submit_tag "submit", :class => 'button', :id => "get_btn"
= link_to "Skip", '/follows'