$(".modal.in").modal('hide');
$(".card#photo_card_" + "<%= "#{@photo.id.to_s}" %>" + " p.comment").after('<p class="question"> Q: <%= @question.gsub(" - via @ubimachine", "")%></p>')
$('.card').wookmark({offset: 10, container: $('.container_photos'), itemWidth: 240});