.container
  .content_below#main
    %h1 Inbox
    %ul.media-grid
      %ul.requests
        - @requests.each do |request|
          = render 'partials/showphoto', :photo => request.photo
        
      
%footer
  = render 'partials/footer'