:javascript  
  navigator.geolocation.getCurrentPosition(function(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    var geo_url = "http://www.ubimachine.com/photos?category=special&lat=" +
    latitude + "&lng=" + longitude;
    $("a#link_geo").attr("href", geo_url);
  });

:javascript
  navigator.geolocation.getCurrentPosition(function(position) {
    window.location = 'http://www.ubimachine.com/disrupt?lat='+position.coords.latitude+'&lng='+position.coords.longitude+'&range=walking';
  });
  
.loading{:style => "text-align: center;"}
  = image_tag "load.gif", :width => '20px'
  Loading photos around you...