// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img{
	float:left;
	
}
#img{
	height: 520px;
	
}

#img_details{
	margin-left: 520px;
}

