    /* Override some defaults */
    html, body {
      background-color: #eee;
    }
    body {
      padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
    }
    .container > footer p {
      text-align: center; /* center align it with the container */
    }
    .container {
      width: 960px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
    }

    /* The white background content wrapper */
    .container > .content {
      background-color: #fff;
      padding: 20px;
      margin: 0px -20px; /* negative indent the amount of the padding to maintain the grid system */
      -webkit-border-radius: 0 0 6px 6px;
         -moz-border-radius: 0 0 6px 6px;
              border-radius: 0 0 6px 6px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
              box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }

    /* Ben's content */
		
    .container > .content_below {
      background-color: #fff;
      padding: 20px;
      margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
      -webkit-border-radius: 6px 6px 6px 6px;
         -moz-border-radius: 6px 6px 6px 6px;
              border-radius: 6px 6px 6px 6px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
              box-shadow: 0 1px 2px rgba(0,0,0,.15);
			margin-top: 10px;
			
			.more{
				text-align: center;
			}
			.intro{
				padding: 0 0 0 115px;
			}
			.signin{
				text-align: center;
			}
			.or{
				text-align: center;
			}
    }
		.container > .content_below#main {
      background-color: #fff;
      padding: 20px;
      margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
      -webkit-border-radius: 6px 6px 6px 6px;
         -moz-border-radius: 6px 6px 6px 6px;
              border-radius: 6px 6px 6px 6px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
              box-shadow: 0 1px 2px rgba(0,0,0,.15);
			margin-top: 10px;
			width: 730px;
			float: left;
    }

		.container > .content_below#right {
      background-color: #fff;
      padding: 20px;
      margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
      -webkit-border-radius: 6px 6px 6px 6px;
         -moz-border-radius: 6px 6px 6px 6px;
              border-radius: 6px 6px 6px 6px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
              box-shadow: 0 1px 2px rgba(0,0,0,.15);
			margin-top: 10px;
			margin-left: 10px;
			width: 180px;
			float: right;
			height: 450px;
    }

    /* Page header tweaks */
    .page-header {
      background-color: #f5f5f5;
      padding: 20px 20px 10px;
      margin: -20px -20px 20px;
    }

    /* Styles you shouldn't keep as they are for displaying this base example only */
    .content .span13,
    .content .span3 {
      min-height: 500px;
    }
    /* Give a quick and non-cross-browser friendly divider */
    .content .span3 {
      margin-left: 0;
      padding-left: 19px;
      border-left: 1px solid #eee;
    }

    .topbar .btn {
      border: 0;
    }

/* clearfix
------------------------------------------------------------*/	
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}
/* End hide from IE-mac */