// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile_pic{
	float:left;
	margin: 0 10px;
}

p.full_name{
	color: #444;
	font-size: 15px;
	margin-bottom: 10px;
	width: 600px;
	text-align: left;
}

p.bio{
	color: #444;
	font-size: 12px;
	margin-bottom: 10px;
	width: 600px;
	text-align: left;
	text-style: italic;
	height: 40px;
}

a.website{
	
}

a.following{
	margin-top: 20px;
	float: right;
	font-size: 16px;
	height: 40px;
}

a.usefuls{	
	float: right;
	font-size: 16px;
	height: 40px;
	}
a.question_asked{	
	float: right;
	font-size: 16px;
	height: 40px;
	}
