!!! Strict
%html
%head
  :javascript
    var _sf_startpt=(new Date()).getTime()
  %title= "Now"
  = csrf_meta_tag
  %meta{:name=>"viewport",:content=>"width=1024"}
  %meta{:name => "description", :content => "Now is a free iphone app that let's you know in real time about events happening in your city."}
  %meta{:name => "keywords", :content => "realtime, photos, events, trending, iphone, explore, discover, things to do, news, city"}
  %link{:rel=>"shortcut icon", :href=>"/assets/favicon.ico"}
  = stylesheet_link_tag "cssjerem.css"
  %script{:type=>"text/javascript"}
    (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
    for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
    mixpanel.init("d348c310c9be8fc5e6f522e5792b13da");
    mixpanel.track("Index:loaded")
    mixpanel.track_links("#content a", "Index:download")

%body
  = yield